@model LibrarySystem.Areas.Members.Models.LibraryMember



@{
    ViewBag.Title = "Member Details";
    Layout = "~/Views/Shared/_LibrarySystemLayoutPage.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Library Member</legend>

    <h2 class="display-field">
        Hello  @Html.DisplayFor(model => model.MemberName)
    </h2>
    <h3>Tell me what you want to do.</h3>
    <p>
        @Html.ActionLink("Browse Literature","Member","Default", new { area = "Inventory", mid = Model.ID },null) | 
        @Html.Partial("~/Areas/Inventory/Views/Shared/_Logout.cshtml")
    </p>
    @if (Model.BorrowedItems.Count > 0)
    {
        <fieldset>
            <legend>Borrowed Items</legend>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BorrowedItems)
                    {
                        <tr>
                            <td>@item.GetItem().Title</td>
                            <td>@item.GetItem().Author</td>
                            <td>@Html.ActionLink("Return", "ReturnItem", new { memberid = Model.ID, itemID = item.GetId() }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>

        </fieldset>
    }
    else
    {
        <fieldset>
            <legend>Borrowed Items</legend>
            @if(Model.BorrowedItems.Count > Model.)
            <p>No Items Borrowed</p>
        </fieldset>
    }





